html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
}

main {
  margin: 0 auto;
  padding: 20px 0 40px;
}

.container {
  padding: 0 2px;
}

.form-info {
  max-width: 800px;
}

h1 {
  font-size: 16px;
  line-height: 1.25;
  font-weight: bold;
  margin: 0 0 24px;
}

.logo {
  max-width: 200px;
  height: auto;
  display: block;
  margin-bottom: 24px;
}

/* To make sure mobile devices don't zoom in on input focus */
input {
  font-size: 100%;
}

.hidden {
  display: none;
}

.success-message {
  display: block;
  margin-bottom: 24px;
  padding: 0 2px;
}

.success-message h2 {
  font-weight: bold;
  font-size: 16px;
}

.error-message {
  color: #d32222;
  font-size: 18px;
}

.collapse-button {
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding: 5px 16px 5px 2px;
  margin: 12px 0 24px;
  border: none;
  cursor: pointer;
}

.collapse-button:after {
  content: '';
  position: absolute;
  right: 0;
  background-image: url('./angle.svg');
  background-size: 10px 10px;
  height: 10px;
  width: 10px;
  top: 10px;
  transform: rotate(180deg);
}

.input-field {
  height: 40px;
  min-width: 100px;
  border: 1px solid #000;
  display: block;
  padding: 0 5px;
  margin: 20px 24px 24px 18px;
}

.input-field::-webkit-input-placeholder {
  font-size: 14px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  padding: 16px 0;
  display: block;
  font-weight: bold;
}

label {
  padding: 0 6px 0 6px;
}

.options {
  padding-left: 18px;
  margin-bottom: 24px;
}

.input-wrapper {
  padding: 0 16px;
  position: relative;
}

.input-wrapper:not(:last-child) {
  border-bottom: 1px solid #b4b4b4;
}

.input-wrapper.invalid-value:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #d32222;
}

.input-wrapper.invalid-value label {
  color: #d32222;
}

.option-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.option-wrapper input {
  -webkit-box-flex: 0 0 20px;
  -webkit-flex: 0 0 20px;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  min-width: 20px;
  width: 20px;
}

.option-wrapper:not(:last-child) {
  margin: 0 0 16px 0;
}

.option-wrapper label {
  padding-left: 6px;
}

.input-field-label {
  margin: 16px 0 5px 0;
  display: block;
  font-weight: bold;
}

.question-group-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  background: #f0f0f0;
  border: 1px solid #b4b4b4;
  border-width: 1px 0 1px 0;
  width: 100%;
  padding: 12px 16px;
  margin: 0;
}

em {
  margin: 0 0 24px 0;
  display: block;
  color: #595959;
  padding-left: 24px;
}

.optional-field-info {
  color: #595959;
  font-style: italic;
  font-weight: normal;
}

.button {
  min-width: 136px;
  height: 50px;
  padding: 5px 25px;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  margin: 24px 0;
}


.action-button {
  width: 274px;
  background-color: #328709;
}

.cancel-button {
  background-color: #848484;
}

.action-button:hover,
.action-button:active {
  background-color: #409615;
}

form .action-button {
  margin: 24px 16px 24px;
  width: auto;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.flex-wrapper .option-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 0 0 85px;
  width: 85px;
  -webkit-flex: 0 0 85px;
  -ms-flex: 0 0 85px;
  margin: 0 12px 16px 0;
}