html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 16px;
  color: #000000;
}

main {
  margin: 0 auto;
  padding: 20px 0 40px;
}

.container {
  padding: 0 18px;
}

.form-info {
  max-width: 800px;
}

.container p {
  line-height: 19px;
}

h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 24px;
}

.logo {
  max-width: 200px;
  height: auto;
  display: block;
  margin-bottom: 24px;
}

.hidden {
  display: none;
}

.success-message {
  display: block;
  margin-bottom: 24px;
  font-size: 18px;
}

.error-message {
  color: #d32222;
  font-size: 18px;
}

.input-field {
  height: 40px;
  min-width: 100px;
  border: 1px solid #000;
  display: block;
  padding: 0 5px;
  margin: 20px 24px 24px;
}

.input-field::-webkit-input-placeholder {
  font-size: 14px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  margin: 0 0 16px 0;
  display: block;
  font-weight: bold;
}

label {
  padding: 3px 6px 3px 0;
}

.options {
  padding-left: 24px;
  margin-bottom: 24px;
}

.input-wrapper {
  margin: 0 0 24px 0;
  padding: 0 24px;
}

.input-wrapper:not(:last-child) {
  border-bottom: 1px solid #b4b4b4;
}

.option-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.option-wrapper input {
  -webkit-box-flex: 0 0 0;
  -webkit-flex: 0 0 0;
  -ms-flex: 0 0 0;
  flex: 20px 0 0;
  min-width: 20px;
}

.option-wrapper:not(:last-child) {
  margin: 0 0 16px 0;
}

.option-wrapper label {
  padding-left: 6px;
}

.input-field-label {
  margin: 0 0 5px 0;
  display: block;
  font-weight: bold;
}

.question-group-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  background: #f0f0f0;
  border: 1px solid #b4b4b4;
  border-width: 1px 0 1px 0;
  width: 100%;
  padding: 12px 24px;
}

em {
  margin: 0 0 24px 0;
  display: block;
  color: #595959;
  padding-left: 24px;
}

.optional-field-info {
  margin: -10px 0 24px 0;
  display: block;
  color: #595959;
  padding-left: 24px;
  font-style: italic;
}

.action-button {
  display: block;
  margin: 24px 0;
  height: 50px;
  width: 274px;
  padding: 5px 25px;
  background-color: #328709;
  border-radius: 100px;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.action-button:hover, .action-button:active {
  background-color: #409615;
}

form .action-button {
  margin-left: 24px;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 450px;
}

.flex-wrapper .option-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 80px 0 0;
  width: 80px;
  -webkit-flex: 80px 0 0;
  -ms-flex: 80px 0 0;
  margin: 0 12px 16px 0;
}