/* TODO: move to src/index.css */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin: 24px 24px 60px;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 21px;
  line-height: 1.25;
  font-weight: bold;
  margin: 0 0 24px;
}

h2 {
  font-weight: bold;
  font-size: 16px;
  margin: 32px 0 12px 0;
}

h3 {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 8px;
}

.logo {
  max-width: 200px;
  height: auto;
  display: block;
  margin-bottom: 24px;
}

ul {
  margin-top: 0;
  padding-left: 18px;
}
